<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

	<job>
		<name>add-task</name>
		<job-type>QuartzSample.ConsoleWriterJob, QuartzSample</job-type>
		<durable>true</durable>
		<recover>false</recover>
	</job>
	<trigger>
		<cron>
			<name>add-task-trigger</name>
			<job-name>add-task</job-name>
			<!--every second-->
			<cron-expression>0/1 * * * * ?</cron-expression>
		</cron>
	</trigger>

</configuration>