<?xml version="1.0" encoding="utf-8" ?>
<quartz xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0" overwrite-existing-jobs="true">

	<job>
		<name>add-task</name>
		<job-type>QuartzSample.ConsoleWriterJob, QuartzSample</job-type>
		<durable>true</durable>
		<recover>false</recover>
	</job>
	<trigger>
		<cron>
			<name>add-task-trigger</name>
			<job-name>add-task</job-name>
			<!--every second-->
			<cron-expression>0/1 * * * * ?</cron-expression>
		</cron>
	</trigger>

	<!--<job>
		<job-detail>
			<name></name>
			<group></group>
			<description></description>
			<job-type></job-type>
			<volatile>false</volatile>
			<durable>true</durable>
			<recover>false</recover>
			<job-data-map>
				<entry>
					<key></key>
					<value></value>
				</entry>
			</job-data-map>
		</job-detail>

		<trigger>
			<cron>
				<name></name>
				<job-name></job-name>
				<job-group></job-group>
				<cron-expression>*/10 * * * * ? *</cron-expression>
			</cron>
		</trigger>
	</job>-->
</quartz>